.navigation {
	display: flex;
	align-items: center;
	padding: 10px;
	background-color: #ffffff;
	color: #090909;
	font-family: 'Roboto', sans-serif;
}
.inline-block {
	display: inline-block;
	vertical-align: top;
	align-items: right;
}
.logo {
	width: 23%;
	padding: 1%;
}
nav {
	width: 90%;
	padding: 1%;
	align-items: right;
}
ul {
	margin: 0;
	padding: 0;
	align-items: right;

	
}
.text h1,.text h2, .Texto, h2 style{
	font-family: 'Roboto', sans-serif;
}

.main1{
	font-family: 'Roboto', sans-serif;
	align-items: center;
 }
.Aboutme{ 
        display: flex;
        align-items: center;
        justify-content: center
      }
      img {
        max-width: 90%
      }
      .image {
        flex-basis: 60%;
        order: 2;
        margin-left: 1cm;
      }
      .text {
        color: #000000;
        padding-left: 20px;
        font-family: 'Roboto', sans-serif;
      }	
ul li {
	margin: 0;
	padding: 0 10px;
}

.content {
	width: 500px;
	margin: 3 auto;
	text-align: right;
	font-family: 'Roboto', sans-serif;
}

.MyUXSkills{

	width: 100vw;
	height:50vh;

	font-family: "Quicksand",sans-serif;
	font-weight:lighter;
	font-size: 20px;


	display:grid;

	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	gap: 15px;

	padding: 15px;
	box-sizing:border-box;
	justify-content: center;
	
  }

  .MyUXSkills div{

	padding: 15px;
	border: 1px solid rgb(216, 145, 12);

  }

  .Research{

	grid-column-start: 1;
	grid-column-end: 1;
	
  }


  .UI{

	grid-column-start: 2;
	grid-column-end: 2;
  }

  .Innovation{
	grid-column-start: 3;
	grid-column-end: 3;
  }

  .img{
	width: 30%;
	align-items: center;
	border: none;
  }


  #locations {
    padding:200px 0px 100px;
    background-image:url("../images/hollywood.png");
    background-repeat: no-repeat;
    background-size: cover;
	font-family: "Quicksand",sans-serif;
	font-weight:lighter;
	font-size: 20px;

}


#locations .location-card {

    background-size: 100%;
    height: 450px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-color: #edeaea;
    }

.Girl{
        background-image: url(../images/yosemite-background.png);  
}

.labor {
    background-image: url(../images/joshua-background.png);  
}
.lefty {
    background-image: url(../images/sf-background.png);  
}


#locations .location-card .card-items {
    background-color: white;
    margin: 0px 30px 50px 30px;
    padding:20px;
    
}       


.location-item .card-items h3 {

    font-size:20px;
    width:45%;
    
    
}

.location-item .card-items .heading {
    display:flex;
    justify-content: space-between;
    }



footer {
	background-color: #ed8a19;
	padding: 20px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}
footer ul {
	display: inline-block;
	vertical-align:top;
}
footer ul li {
	padding: 0 10px;
	color: #fff;

}



